.addbooks{
    display: flex;
    background-color: #ffd615;
    width: 1250px;
    height: 530px;
    transform: translateX(50px);

}
.add img{
    height: 500px;
    width: 600px;
    margin-left: 105px; 
    transform: translateY(20px);
}
.add1{
    /* background-color: #ffd615; */
    padding-right: 220px;
    transform: translateY(-20px);
    margin-left: 20px;
}
.add1 input{
  margin-left: 40px;
  width: 200px;
}
.add1 h1{
    margin-left: 40px;
    margin-top: 150px;
}
.add1 h2{
    margin-left: 40px;
     margin-top: 0px;
}
.add1 button{
    height: 40px;
    width: 160px;
    color: white;
    background-color: #000000;
    border: none;
    margin-left: 40px;
    margin-top: 20px;
}